<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" 
		type="image/png" 
		href="../mymedia/images/favicon.ico"/>
		<script src="../mymedia/js/jquery-1.8.2.js" type="text/javascript"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Welcome to Sonance</title>
		<script type="text/javascript" src="../mymedia/js/jquery-latest.js"></script>
		<script type="text/javascript" src="../mymedia/js/jquery.layout-latest.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('body').layout({ applyDemoStyles: true });
			});
		</script>
		<script>
			window.onload = function() {
				document.getElementById("username").focus();
			};
		</script>
		<script type="text/javascript">
			function validateForm()
			{	
				var x=document.forms["myForm"]["username"].value;
				var y=document.forms["myForm"]["password"].value;
				if (x==null || x=="")
				{
					alert("You have not filledin this field.");
					document.myForm.username.style.background = "pink";
					<!-- document.getElementById("username").focus(); -->
					return false;
				}
				
				if (y==null || y=="")
				{
					alert("You have not filledin this field.");
					document.myForm.username.style.background = "white";
					document.myForm.password.style.background = "pink";
					<!-- document.getElementById("password").focus(); -->
					return false;
				}
			}
		</script>
		<script>
			$(document).ready(function() {
				// Check if JavaScript is enabled
				$('body').addClass('js');
				// Make the checkbox checked on load
				$('.login-form span').addClass('unchecked').children('input').attr('checked', true);
				// Click function
				$('.login-form span').on('click', function() {
					if ($(this).children('input').attr('checked')) {
						$(this).children('input').attr('checked', false);
						$(this).removeClass('checked');
					}
					else {
						$(this).children('input').attr('checked', true);
						$(this).addClass('checked');
					}
				});
			});
		</script>
		<link rel="stylesheet" type="text/css" href="../mymedia/css/style.css" />
	</head>
	<body>
		<div class="ui-layout-center"align = "center">
			<div class=login-form> 
				<h1>Login Form</h1>
				<form action="/asset_mgmt/authent/" method="POST" name="myForm" onsubmit="return validateForm()">
					<input id="name" type="text" name="username" placeholder="username" AUTOCOMPLETE="off">
					<input type="password" name="password" placeholder="password">
					<span>
						<input type="checkbox" name="checkbox">
						<label for="checkbox">Remember</label>
					</span>
					<input type="submit" value="log in">
				</form>
			</div>
			<font size="4"face="Helvetica" color="Orange">{{msg}}</font> 			
		</div>
		<div class="ui-layout-north">
			<img src="../mymedia/images/logo.png" alt="Logo" width="100" height="90"/>
			<table align="right">
			<tr><td>&emsp;</td></tr>
			<tr><td>&emsp;</td></tr>
			<tr><td>&emsp;</td></tr>
			<tr><td><a href="http://www.coresonant.com/html/contactus.html"/><img src="../mymedia/images/images.PNG" align="right" alt="Logo" width="35" height="35"/></td></tr>
			</table>
			<!-- <img src="../mymedia/images/logo-right.jpg" align="right" alt="Logo" width="120" height="60"/> -->
		</div>
	</body>
</html>